<div>
  <div class="algo-buttons">
    <button #buttonDijkstra (click)="onSubmit('Dijkstra')">Run Dijkstra</button>
    <button #buttonKruskal (click)="onSubmit('Kruskal')">Run Kruskal</button>
    <button #buttonEdmondsKarp (click)="onSubmit('EdmondsKarp')">Run Edmonds-Karp</button>
    <button #buttonFleury (click)="onSubmit('Fleury')">Run Fleury</button>
    <button #buttonHeldKarp (click)="onSubmit('HeldKarp')">Run Held-Karp</button>
    <button #buttonGreedyMatching (click)="onSubmit('GreedyMatching')">Run Greedy Matching</button>
    <button #buttonGreedyColoring (click)="onSubmit('GreedyColoring')">Run Greedy Coloring</button>
    <button #buttonWelshPowell (click)="onSubmit('WelshPowell')">Run Welsh-Powell</button>
  </div>
</div>
