<div>
  <div class="algo-buttons">
    <button #buttonDijkstra (click)="onSubmit('Dijkstra')">Run Dijkstra</button>
    <button #buttonKruskal (click)="onSubmit('Kruskal')">Run Kruskal</button>
    <button #buttonEdmondsKarp (click)="onSubmit('Edmonds-Karp')">Run Edmonds-Karp</button>
    <button #buttonFleury (click)="onSubmit('Fleury')">Run Fleury</button>
    <button #buttonHeldKarp (click)="onSubmit('Held-Karp')">Run Held-Karp</button>
    <button #buttonGreedyMatching (click)="onSubmit('Greedy Matching')">Run Greedy Matching</button>
    <button #buttonGreedyColoring (click)="onSubmit('Greedy Coloring')">Run Greedy Coloring</button>
    <button #buttonWelshPowell (click)="onSubmit('Welsh-Powell')">Run Welsh-Powell</button>
  </div>
</div>
